NEXT_PUBLIC_APP_NAME=Jujuy Alerta Territorial
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_PROTOMAPS_PM_TILES_URL=https://build.protomaps.com/20260217.pmtiles
NEXT_PUBLIC_PROTOMAPS_TERRAIN_PM_TILES_URL=
